opengd77/MDUV380_firmware/application/source/linkerdata/codec_bin_section_1.bin
opengd77/MDUV380_firmware/DM1701_FW
opengd77/MDUV380_firmware/application/include/user_interface/languages/src/*.gla
opengd77/MDUV380_firmware/.settings/language.settings.xml
opengd77/MDUV380_firmware/.settings/stm32cubeide.project.prefs
opengd77/MDUV380_firmware/application/include/user_interface/languages/src/languages_builder
.vscode/settings.json
.DS_Store